h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: #FFD372;
}

.miTítulo {
    font-family: 'Poppins', sans-serif;
    color: #FFD372;
    text-align: center;

}

body {
    background-color: #905E96;
    font-family: 'Poppins', sans-serif;
    color: #FFD372;
    background-image: url("https://imagizer.imageshack.com/v2/1280x1024q90/922/bdOeup.jpg");

}

button {
    font-family: 'Poppins', sans-serif;
    background-color: #AEA38B;
    color: #403a3e;
    border-radius: 5px;
    width:100px;

}

button:hover {
    background-color: #FFD372;
    transition: 0.7s;
}

button:focus {
    background-color: #FFD372;
}

button:active {
    background-color: #FFD372;
}

.offset {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-family: 'Poppins', sans-serif;
    background-color: #b18ab6;
    color: #1E1E1E;
}

.buttonsArea {
    display: flex;
    align-items: center;
    justify-content: center
}

.textBox {
    display: flex;
  align-items: center;
  justify-content: center
}

textarea {
    font-family: 'Poppins', sans-serif;
    background-color: #b18ab6;
    color: #1E1E1E;
    resize: none;
}

.question {
    font-family: 'Poppins', sans-serif;
      font-size: 20px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	border-radius: 15px; /* Borde del boton */
    background-color: #AEA38B;
    color: #403a3e;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width:50px;
}
